body {
  margin: 0.5em 0.5em 0.5em 0.5em;
}

body h1:nth-child(1) {
  margin: 0 0 0.5em 0;
}

h1 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  font-size: 200%;
  font-weight: bold;
}

h2 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  font-size: 150%;
  font-weight: bold;
}

h3 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  font-size: 125%;
  font-weight: bold;
}

h4 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  font-size: 100%;
  font-weight: bold;
}

h5 {
  margin: 2em 0.5em 1em 0.5em;
  padding: 0.2em;
  font-size: 100%;
  font-weight: bold;
}

h6 {
  margin: 2em 1em 1em 1em;
  padding: 0.2em;
  font-size: 100%;
  font-weight: bold;
}

p {
  margin: 1em 1em 1em 1em;
}

em {
 font-weight: normal;
 font-decoration: italic;
}

storng {
 font-weight: bold;
 font-decoration: none;
}

code {
  margin: 0;
  padding: 0.3em;
}

pre {
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-size: 100%;
}

a {
  color: #2020a0;
}

a:visited {
  color: #202080;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding: 0.2em;
}

table {
  margin: 1em 1em 1em 1em;
}

th {
  padding: 0.2em;
  font-weight: normal;
  text-align: center;
}

td {
  padding: 0.2em;
  background-color: white;
}

caption {
  padding: 0.3em;
  font-weight: normal;
}

hr {
  margin: 2em 0 2em 0;
  padding: 1px 0 1px 0;
  border: solid 1px #c0c0c0;
  border-radius: 1px;
  background-color: #c0c0c0;
}

li {
}
