body {
  margin: 0 0.5em 0 0.5em;
}

h1 {
  margin: 1em 0 1em 0;
  padding: 0.2em;
  color: white;
  background-color: black;
  font-size: 200%;
  font-family: SanSerif;
  font-weight: normal;
  text-shadow: none;
}

h2 {
  margin: 1em 0 1em 0;
  padding: 0.2em;
  color: white;
  background-color: black;
  font-size: 150%;
  font-family: SanSerif;
  font-weight: normal;
  text-shadow: none;
}

h3 {
  margin: 1em 0 1em 0;
  padding: 0.2em;
  color: white;
  background-color: black;
  font-size: 125%;
  font-family: SanSerif;
  font-weight: normal;
  text-shadow: none;
}

h4 {
  margin: 0 0 1em 0;
  border-bottom: solid 3px black;
  font-size: 100%;
  font-family: SanSerif;
  font-weight: normal;
  text-shadow: none;
}

h5 {
  margin: 0 0.5em 1em 0.5em;
  border-bottom: solid 2px black;
  font-size: 100%;
  font-family: SanSerif;
  font-weight: normal;
  text-shadow: none;
}

h6 {
  margin: 0 1em 1em 1em;
  font-size: 100%;
  font-weight: normal;
  font-family: SanSerif;
  text-decoration: underline;
  text-shadow: none;
}

p {
  margin: 1em 1em 1em 1em;
  font-family: Serif;
}

em {
 font-weight: normal;
 font-decoration: italic;
}

storng {
 font-weight: bold;
 font-decoration: none;
}

code {
  margin: 0;
  padding: 0.3em;
}

pre {
  margin: 1em 1em 1em 1em;
  padding: 1em;
  border-radius: 0.3em;
  border: solid 1px black;
  font-size: 100%;
  color: #101010;
  background-color: white:
}

a {
  color: #2020a0;
}

a:visited {
  color: #202080;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding: 0.2em;
  background-color: white;
  border: black solid;
  border-width: 0 0 0 4px;
  text-decoration: none;
}

table {
  margin: 1em 1em 1em 1em;
  border: 1px black solid;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0.2em;
  border: black solid;
  border-width: 0 0 1px 1px;
  color: white;
  background-color: black;
  font-family: SansSerif;
  font-weight: normal;
  text-align: center;
}

td {
  padding: 0.2em;
  border: black solid;
  border-width: 0 0 1px 1px;
  font-family: Serif;
  background-color: white;
}

caption {
  padding: 0.3em;
  font-familly: SansSerif;
  font-weight: normal;
}

hr {
  margin: 1em 0 1em 0;
  border: solid 2px black;
}

li {
  font-family: Serif;
}
