body {
  margin: 0.5em 0.5em 0.5em 0.5em;
}

body h1:nth-child(1) {
  margin: 0 0 0.5em 0;
}

h1 {
  margin: 1.5em 0 1em 0;
  padding: 0.2em;
  border: 1px #c0c0c0 solid;
  border-radius: 0.1em;
  color: black;
  background-color: #e8e8e8;
  font-size: 200%;
  font-family: SanSerif;
  font-weight: bold;
  text-shadow: none;
}

h2 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  border: 1px #c0c0c0 solid;
  border-radius: 0.1em;
  color: #202020;
  background-color: #e8e8e8;
  font-size: 150%;
  font-family: SanSerif;
  font-weight: bold;
  text-shadow: none;
}

h3 {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  border: 1px #c0c0c0 solid;
  border-radius: 0.1em;
  color: #202020;
  background-color: #e8e8e8;
  font-size: 125%;
  font-family: SanSerif;
  font-weight: bold;
  text-shadow: none;
}

h4 {
  margin: 2em 0 1em 0;
  border-bottom: solid 3px #c0c0c0;
  font-size: 100%;
  font-family: SanSerif;
  font-weight: bold;
  text-shadow: none;
}

h5 {
  margin: 2em 0.5em 1em 0.5em;
  border-bottom: solid 2px #c0c0c0;
  font-size: 100%;
  font-family: SanSerif;
  font-weight: bold;
  text-shadow: none;
}

h6 {
  margin: 2em 1em 1em 1em;
  font-size: 100%;
  font-weight: bold;
  font-family: SanSerif;
  text-decoration: underline;
  text-shadow: none;
}

p {
  margin: 1em 1em 0.5em 1em;
  font-family: Serif;
}

em {
 font-weight: normal;
 font-decoration: italic;
}

storng {
 font-weight: bold;
 font-decoration: none;
}

code {
  margin: 0;
  padding: 0.3em;
}

pre {
  margin: 1em 1em 1em 1em;
  padding: 1em;
  border-radius: 0.3em;
  border: solid 1px #c0c0c0;
  font-size: 100%;
  color: #101010;
  background-color: #f0f0f0;
}

a {
  color: #2020a0;
}

a:visited {
  color: #202080;
}

blockquote {
  margin: 1em 1em 1em 1em;
  padding: 0.2em;
  background-color: #f0f0f0;
  border: #808080 solid;
  border-radius: 0.3em;
  border-width: 0 0 0 4px;
  text-decoration: none;
}

table {
  margin: 1em 1em 1em 1em;
  border: 1px #c0c0c0 solid;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

th {
  padding: 0.2em;
  border: #c0c0c0 solid;
  border-width: 0 0 1px 1px;
  background-color: #f0f0f0;
  font-family: SansSerif;
  font-weight: normal;
  text-align: center;
}

td {
  padding: 0.2em;
  border: #c0c0c0 solid;
  border-width: 0 0 1px 1px;
  font-family: Serif;
}

caption {
  margin: 0;
  padding: 0.3em;
  font-familly: SansSerif;
  font-weight: normal;
}

hr {
  margin: 2em 0 2em 0;
  padding: 1px 0 1px 0;
  border: solid 1px #c0c0c0;
  border-radius: 1px;
  background-color: #c0c0c0;
}

li {
  font-family: Serif;
}
